$plava : #56bcbb ;
$tamno: #2e5470;
$pasusboja: #727678;
@mixin transform($property){
  transform: translate($property);
  -ms-transform: translate($property);
  -webkit-transform: translate($property);
}
@mixin transform($property){
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@font-face {
  font-family:'naslov';
  src:url(fonts/Futura-std-medium.otf);
  font-style:normal;
  font-weight:100;
}
@font-face {
  font-family:'pasus';
  src:url(fonts/OpenSans-Regular.ttf);
  font-style:normal;
}
body {
  margin:0;
  padding: 0;
}
#brod{
    height:100vh;
    width:100vw;
}

#bottomheader{
  font-family:naslov;
  position:relative;
  color:white;
  width:30%;
  height:10%;
  left:50%;
  font-size:25px;
  text-align:center;
  bottom:200px;
  transform:translateX(-50%);
}
#ghostbutton{
  position:absolute;
  background-color: transparent;
  color:white;
  text-align: center;
  line-height: 2.5vw;
  font-family:naslov;
  font-size:1.5vw;
  text-decoration: none;
  border: 2px solid $plava;
  width:10vw;
  height:2.5vw;
  z-index: 7;
  right:15%;
  top:5%;
  letter-spacing: 2px;
}

#naslov{
  position:absolute;
  margin:auto;
  z-index: 3;
  color:white;
  font-size:6vw;
  top: 50%;
  left: 55%;
 transform:translateX(-55%) translateY(-50%);
  font-family:naslov;

}

#harpun{
  width:90%;
}

i{
  position:absolute;
  left:50%;
  @include transform(translateX(-50%));
  bottom:25px;
}
#header {
  height:99vh;
  width:99vw;
  position: relative;
  overflow: hidden;
}

@keyframes strela {
  from {bottom: 0;}
  to {bottom: 15px;}
}
#strelica{
  position:absolute;
  animation-name: strela;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#example {
   position: absolute;
   top:0;
   left:0;
   width:0;
   height:0;
   border-style:solid;
   border-left-width: 50vw;
   border-right-width: 50vw;
   border-bottom-width:50vh;
   border-top-width: 50vh;
   border-left-color: $plava;
   border-right-color: $tamno;
   border-bottom-color:$plava;
   border-top-color: $tamno;
   opacity:0.3;
}
#about{
  position:relative;
  border-bottom: 4px solid $plava;
  left:0;
  top:0;
  width:27%;
  height:10%;
  text-align:right;
  padding:0;
}
h2#podvuceninaslov{
  position:relative;
  bottom:-3vh;
  right:0;
  font-family: naslov;
  font-size:3.2vw;
  color: $tamno;
  }
h2#naslovsekcije{
  position:absolute;
  font-family: naslov;
  font-size:3.2vw;
  color: $tamno;
  width:36vw;
  z-index:8;
    line-height: 1;
    letter-spacing: 0.7px;
  }
  p#onamaharpun{
    width:36vw;
    position:absolute;
    top:27vh;
    z-index:9;
    font-family: pasus;
    color: $pasusboja;
    letter-spacing: 0.7px;
    line-height: 2;
    font-size:0.9vw;
  }
#plavo, #belo{
  width:15vw;
  height:15vw;
  margin:5px;
  position:relative;
  display:inline-block;
}
#plavo{background-color:$plava;}
#belo{background-color:white;}
#rotacija,#drugarot{
  width:15vw;
  height:15vw;
  margin:5px;
  position:relative;
  display:inline-block;
}
#drugarot{
  @include transform(rotate(90deg));
}
#slike{
  z-index: 7;
  right:0;
  width:40vw;
  @include transform(rotate(45deg));
  position:absolute;
  top:100px;
  float:right;
}
#container{
  position:relative;
  left:17%;
  width:70vw;
}
@media screen and (max-width:1200px){
  p#onamaharpun{
    top:25vh;
    font-size: 1.5vw;
  }
  h2#naslovsekcije{
    font-size: 4vw;
  }
}
@media screen and (max-width: 700px){
    #ghostbutton{
      height:4vw;
      width:20vw;
      font-size:3vw;
      line-height: 4vw;
    }
    #naslov{
      font-size: 9vw;
      width:80%;
    }
    h2#podvuceninaslov{
      font-size: 6vw;
    }
    h2#naslovsekcije{
      font-size: 6vw;
      width:100%;
    }
      p#onamaharpun{
        width:100%;
        top:20vh;
        font-size:2.5vw;
      }
      #slike{
        top:60vh;
        width:100%;
      }
    #about {
      width:50%;
    }
    #rotacija,#drugarot,#plavo,#belo{
      width:25vw;
      height:25vw;
    }



}
